:root {
  --main-title-color: #fff;
  --hover-focus-color: #2196F3;
  --title-color: #212121;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

address {
  font-style: normal;
}

body {
  font-family: "Roboto", "Arial", sans-serif;
  color: #000;
  margin: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.backdrop {
  position: fixed;
  top: 0;
  background-color: rgba(66, 62, 62, 0.5);
  width: 100%;
  height: 100%;
  transition: opacity 500ms linear, visibility 500ms;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background-color: #FFF;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 500ms linear;
  padding: 40px;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-close {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
  border: 1px solid #909090;
  border-radius: 50%;
  background-color: transparent;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196F3;
}
.logo-black {
  color: #000;
}
.logo-white {
  color: #fff;
}

.header {
  background-color: var(--main-title-color);
  border-bottom: 1px solid #ECECEC;
  padding-top: 24px;
  padding-bottom: 24px;
}
.header__flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}
.header__connect {
  margin-left: 314px;
}
.header__navigation {
  margin-left: 97px;
}

.navigation__list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}
.navigation__item:nth-of-type(2), .navigation__item:nth-of-type(3) {
  margin-left: 51px;
}
.navigation__link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms linear;
}
.navigation__link.current::after {
  content: "";
  width: 105%;
  height: 4px;
  background-color: #2196F3;
  border-radius: 2px;
  display: block;
  position: absolute;
  left: 0;
  bottom: -31px;
}
.navigation__link:hover, .navigation__link:focus {
  color: var(--hover-focus-color);
}

.connect {
  display: flex;
  column-gap: 30px;
}
.connect__mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.02em;
  color: #757575;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 250ms linear;
}
.connect__mail:focus, .connect__mail:hover {
  color: var(--hover-focus-color);
}
.connect__tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.02em;
  color: #757575;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 250ms linear;
}
.connect__tel:focus, .connect__tel:hover {
  color: var(--hover-focus-color);
}
.connect__icon {
  fill: #757575;
  margin-right: 10px;
  transition: color 250ms linear, fill 250ms linear;
}
.connect__tel:hover .connect__icon, .connect__tel:focus .connect__icon, .connect__mail:hover .connect__icon, .connect__mail:focus .connect__icon {
  fill: #2196F3;
}
.connect__icon:hover, .connect__icon:focus {
  fill: #2196F3;
}

.main__solution {
  margin: 0 auto;
}

.solution {
  background-color: #C4C4C4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-img.jpg);
  max-height: 600px;
  max-width: 1600px;
  padding: 200px 0;
}
.solution__container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  margin-bottom: 94px;
}
.solution__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-title-color);
}
.solution__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFF;
  background-color: #2196F3;
  cursor: pointer;
  margin-top: 30px;
  padding: 10px 32px;
  border-radius: 4px;
  border: none;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  transition: color 250ms linear;
}
.solution__btn:hover, .solution__btn:focus {
  background: var(--hover-focus-color);
}

.quality {
  padding: 94px 0;
}
.quality__list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}
.quality__link {
  width: 270px;
  height: 120px;
  background: #F5F4FA;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.quality__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
  max-width: 270px;
  margin-bottom: 10px;
}
.quality__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  max-width: 270px;
}
.quality__item:nth-of-type(2), .quality__item:nth-of-type(3) {
  margin-left: 30px;
}
.quality__item:nth-of-type(4) {
  margin-left: 25px;
}

.work {
  padding-bottom: 94px;
}
.work__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 50px;
}
.work__list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}
.work__item {
  position: relative;
}
.work__item:nth-child(2), .work__item:nth-child(3) {
  margin-left: 30px;
}
.work__background {
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
}

.team {
  background-color: #F5F4FA;
  padding: 94px 0;
}
.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 50px;
}
.team__list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}
.team__item:nth-of-type(2), .team__item:nth-of-type(3), .team__item:nth-of-type(4) {
  margin-left: 30px;
}
.team__box {
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.smallbox {
  padding: 30px 0;
}
.smallbox__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 10px;
}
.smallbox__text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}

.soc {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.soc__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms linear;
}
.soc__link:hover, .soc__link:focus {
  background-color: #2196F3;
}
.soc__icon {
  fill: #AFB1B8;
  transition: fill 250ms linear;
}
.people-soc-link:hover .soc__icon, .people-soc-link:focus .soc__icon {
  fill: #fff;
}

.customers {
  padding: 94px 0;
}
.customers__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 50px;
}
.customers__list {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.customers__link {
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border 250ms linear, border-radius 250ms linear;
}
.customers__link:hover, .customers__link:focus {
  border: 1px solid #2196F3;
  border-radius: 4px;
}
.customers__icon {
  fill: #AFB1B8;
  transition: fill 250ms linear;
}
.customers-link:hover .customers__icon, .customers-link:focus .customers__icon {
  fill: #2196F3;
}

.footer {
  background: #2F303A;
  padding: 60px 0;
}
.footer-flex {
  display: flex;
  align-items: baseline;
}
.footer-address {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: stretch;
  margin-top: 20px;
}
.footer-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  margin-bottom: 9px;
  transition: color 250ms linear;
}
.footer-link:hover, .footer-link:focus {
  color: var(--hover-focus-color);
}
.footer-mail {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 9px;
  transition: color 250ms linear;
}
.footer-mail:hover, .footer-mail:focus {
  color: var(--hover-focus-color);
}
.footer-tel {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 9px;
  transition: color 250ms linear;
}
.footer-tel:hover, .footer-tel:focus {
  color: var(--hover-focus-color);
}
.footer-social {
  margin-left: 70px;
}
.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}
.footer-soc {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.footer-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms linear;
}
.footer-soc-link:hover, .footer-soc-link:focus {
  background-color: #2196F3;
}

.work-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
.work-portfolio-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}
.work-portfolio-item {
  margin-bottom: 30px;
}
.work-portfolio-item:nth-child(2), .work-portfolio-item:nth-child(3), .work-portfolio-item:nth-child(5), .work-portfolio-item:nth-child(6), .work-portfolio-item:nth-child(8), .work-portfolio-item:nth-child(9) {
  margin-left: 30px;
}
.work-portfolio-item:nth-child(7), .work-portfolio-item:nth-child(8), .work-portfolio-item:nth-child(9) {
  margin-bottom: 0;
}
.work-portfolio-box {
  width: 370px;
  transition: box-shadow 250ms linear;
}
.work-portfolio-box:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.work-portfolio-box:hover .work-portfolio-background {
  transform: translateY(0);
  opacity: 1;
}
.work-portfolio-box img {
  display: block;
}
.work-portfolio-smallbox {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
}
.work-portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}
.work-portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}
.work-portfolio-position {
  position: relative;
  overflow: hidden;
}
.work-portfolio-background {
  width: 100%;
  height: 100%;
  background-color: #2196F3;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  padding: 63px 24px 91px 24px;
  transform: translateY(100%);
  transition: transform 250ms linear, opacity 250ms linear;
  opacity: 0;
  overflow: auto;
}

.btn-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-bottom: 50px;
}

.btn-portfolio {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  border-radius: 4px;
  border: none;
  margin-left: 8px;
  padding: 6px 22px;
  transition: background-color 250ms linear, color 300ms linear;
}
.btn-portfolio:focus, .btn-portfolio:hover {
  color: #FFF;
  background: var(--hover-focus-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn-form {
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  width: 200px;
  height: 50px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 12px;
}

.btn-modal {
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #fff;
  margin: 0 124px;
}

.footer-form {
  margin-left: 90px;
}
.footer-form-label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 22px;
  height: 16px;
}
.footer-form-label-div {
  margin-bottom: 20px;
}
.footer-form-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2F303A;
  color: #fff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
}
.footer-form-flex {
  display: flex;
}
.footer-form-icon {
  fill: #fff;
}

.footer-form-field input {
  padding-left: 16px;
}
.footer-form-field input::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.modal-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal-close {
  color: #000;
  transition: color 250ms linear;
}
.modal-close:hover {
  color: #2196F3;
}
.modal-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.modal-box {
  width: 448px;
  margin-top: 10px;
}
.modal-box textarea::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}
.modal-wrap {
  position: relative;
  margin-top: 4px;
}
.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75px;
  letter-spacing: 0.03em;
  color: #000;
  transition: outline-color 250ms linear, border 250ms linear, border-radius 250ms linear;
}
.modal-input:focus {
  outline-color: var(--hover-focus-color);
}
.modal-text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  margin-top: 4px;
  padding: 12px 16px;
  transition: border 250ms linear, border-radius 250ms linear;
}
.modal-text:focus {
  outline-color: var(--hover-focus-color);
}
.modal-svg {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  width: 18px;
  height: 18px;
  transition: fill 250ms linear;
}
.modal-input:focus + .modal-svg {
  fill: var(--hover-focus-color);
}
.modal-policy {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-left: 13px;
}
.modal-policy span {
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid #000;
  border-radius: 3px;
  margin-right: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms linear, border-color 250ms linear;
}

.check-icon {
  fill: transparent;
  transition: fill 250ms linear;
}

.input-policy:checked + .modal-policy span {
  background-color: var(--hover-focus-color);
  border-color: var(--hover-focus-color);
}

.input-policy:checked + .modal-policy .check-icon {
  fill: #fff;
}

.input-policy:focus + .modal-policy span {
  border-color: var(--hover-focus-color);
}/*# sourceMappingURL=main.css.map */