:root {
    --main-title-color: #fff;
    --hover-focus-color: #2196F3; 
    --title-color: #212121;
}

p, 
h1,
h2, 
h3, 
h4, 
h5, 
h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

button {
    cursor: pointer;
}

address {
    font-style: normal;
}

body {
    font-family: "Roboto", "Arial", sans-serif;
    color:#000;
    margin: 0;
}

.header {
    background-color: var(--main-title-color);
    border-bottom: 1px solid #ECECEC;
    padding-top: 24px;
    padding-bottom: 24px;
}

.header-list {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}

.header-item:nth-of-type(2),
.header-item:nth-of-type(3) {
margin-left: 51px;
}



.header-nav {
    margin-left: 97px;
}

.header-mail {
    margin-left: 340px;
}

.header-tel {
    margin-left: 45px;
}

.flex {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color:#2196F3;
}

.logo-black {
    color: #000;
}

.logo-white {
    color: #fff;
}

.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.42;
    letter-spacing: 0.02em;
    color:#212121;
}

.header-tel, .header-mail {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.42;
    letter-spacing: 0.02em;
    color:#757575;  
}

.header-link:hover,
.header-mail:hover,
.header-tel:hover,
.header-link:focus,
.header-mail:focus,
.header-tel:focus {
    color:var(--hover-focus-color);
}

.solutions {
    background-color: #C4C4C4;
    background-image: linear-gradient(
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
     ), 
     url(../images/background-img.jpg);
    height: 600px;
    margin: 0 auto;
    padding:200px 0;
}

.solution-container {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
    margin-bottom: 94px;
}

.title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--main-title-color);
}

/*.btn {
    position: absolute;
    width: 200px;
    height: 50px;
    left: 700px;
    top: 430px;
} 
*/
.btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFF;   
    background-color: #2196F3; 
    cursor: pointer;
    margin-top: 30px;
    padding: 10px 32px;
    border-radius: 4px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
}  

.btn-list {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
    margin-bottom: 50px;
}

.btn-portfolio {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
    border-radius: 4px;
    border:none;
    margin-left: 8px;
    padding: 6px 22px;
}


.btn:hover,
.btn:focus,
.btn-portfolio:focus,
.btn-portfolio:hover {
    background:var(--hover-focus-color);
}

.quality {
    padding: 94px 0;
}

.quality-list {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}

.quality-item:nth-of-type(2),
.quality-item:nth-of-type(3) {
    margin-left: 30px;
}

.quality-item:nth-of-type(4) {
    margin-left: 25px;
}


.quality-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.42;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-color);
    max-width: 270px;
    margin-bottom: 10px;
}

.quaility-p {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
    max-width: 270px;
}

.work {
    padding-bottom: 94px;
}

.work-portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}


.work-list {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}

.work-item:nth-child(2),
.work-item:nth-child(3) {
    margin-left: 30px;
}



.work-portfolio-list {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}

.work-portfolio-item {
    margin-bottom: 30px;
}

.work-portfolio-item:nth-child(7),
.work-portfolio-item:nth-child(8),
.work-portfolio-item:nth-child(9) {
    margin-bottom: 0;
}

.work-portfolio-item:nth-child(2),
.work-portfolio-item:nth-child(3),
.work-portfolio-item:nth-child(5),
.work-portfolio-item:nth-child(6),
.work-portfolio-item:nth-child(8),
.work-portfolio-item:nth-child(9) {
    margin-left:30px;
}

.work-box {
    width:370px;
}

.work-smallbox {
    padding: 20px 24px;
    border: 1px solid #EEEEEE; 
}

.work-title,
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
    margin-bottom: 50px;
}

.team {
    background-color: #F5F4FA;
    padding: 94px 0;
}

.team-list {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}

.team-box {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
 
}

.team-smallbox {
    padding:30px 0;
}

.team-item:nth-of-type(2),
.team-item:nth-of-type(3),
.team-item:nth-of-type(4) {
    margin-left: 30px;
}

.team-item-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
    margin-bottom: 10px;
}

.team-p {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
    margin-bottom: 16px;
}

.people-soc {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.people-soc-link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-content: center;
    justify-content: center;
}

.people-soc-link:hover,
 .people-soc-link:focus {
    background-color: #2196F3;
}

.peaple-soc-icon{
    fill: #AFB1B8;
}

.people-soc-link:hover .peaple-soc-icon, 
.people-soc-link:focus .peaple-soc-icon{
    fill:#fff;
}

.footer {
    background:#2F303A;
    padding: 60px 0;
}

.footer-address {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: stretch;
    margin-top: 20px;
}

.footer-link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    margin-bottom: 9px;
}

.footer-mail,
.footer-tel {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 9px;
}

.footer-link:hover,
.footer-mail:hover,
.footer-tel:hover,
.footer-link:focus,
.footer-mail:focus,
.footer-tel:focus {
    color:var(--hover-focus-color);
}

.footer-p {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

/* .footer-soc {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.footer-soc-link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #2196F3;
    display: block;
} */

.work-portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-color);
}

.work-portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: #757575;
}