.footer {
    background: #2F303A;
    padding: 60px 0;
    &-flex {
        display: flex;
        flex-direction: column;
        gap: 60px;
        @media screen and (min-width:768px) {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: baseline;
            justify-content: space-around;
            gap: 0;
        }

        @media screen and (min-width:1200px) {
            
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
    &-address {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        margin-top: 20px;
        @media screen and (min-width:1200px) {
            align-items: flex-start;
        }
    }
   
    &-link {
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: #FFFFFF;
        text-align: center;
        transition: color 250ms linear;

        &:hover,
        &:focus {
            color: var(--hover-focus-color);
        }
        @media screen and (min-width:1200px) {
            text-align: start;
        }
    }

    &-mail {
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
        transition: color 250ms linear;

        &:hover,
        &:focus {
            color: var(--hover-focus-color);
        }
    }

    &-tel {
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
        transition: color 250ms linear;

        &:hover,
        &:focus {
            color: var(--hover-focus-color);
        }
    }

    &-social {
        // margin-left: 70px;
        // margin-top: 60px;
        // margin-bottom: 60px;
    }

    &-title {
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 20px;
        @media screen and (min-width:1200px) {
            text-align: start;
        }
    }

    &-soc {
        display: flex;
        justify-content: center;
        gap: 10px;
        &-item {
        }
        &-link {
            width: 44px;
            height: 44px;
            border-radius: 50%;
            background-color: rgba(255, 255, 255, 0.1);
            fill: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: background-color 250ms linear;

            &:hover,
            &:focus {
                background-color: #2196F3;
            }
        }
    }
}



