.header {
    background-color: var(--main-title-color);
    border-bottom: 1px solid #ECECEC;
    padding-top: 24px;
    padding-bottom: 24px;
    &__flex {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
    }
    &__connect {
        margin-left: 314px;
    }
    &__navigation {
        margin-left: 97px;
    }
}


.navigation {
    &__list {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
    }

    &__item:nth-of-type(2),
    &__item:nth-of-type(3) {
        margin-left: 51px;
    }

    &__link {
        position: relative;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.42;
        letter-spacing: 0.02em;
        color: #212121;
        transition: color 250ms linear;

        &.current::after {
            content: '';
            width: 105%;
            height: 4px;
            background-color: #2196F3;
            border-radius: 2px;
            display: block;
            position: absolute;
            left: 0;
            bottom: -31px;
        }

        &:hover,
        &:focus {
            color: var(--hover-focus-color);
        }
    }
}

.connect {
    display: flex;
    column-gap: 30px;
    &__mail {
    
            font-weight: 500;
            font-size: 14px;
            line-height: 1.42;
            letter-spacing: 0.02em;
            color: #757575;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: color 250ms linear;
    
            &:focus,
            &:hover {
                color: var(--hover-focus-color);
            }
        }
    &__tel {

        font-weight: 500;
        font-size: 14px;
        line-height: 1.42;
        letter-spacing: 0.02em;
        color: #757575;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: color 250ms linear;

        &:focus,
        &:hover {
            color: var(--hover-focus-color);
        }
    }
    &__icon {
        fill: #757575;
        margin-right: 10px;
        transition: color 250ms linear, fill 250ms linear;

        .connect__tel:hover &,
        .connect__tel:focus &,
        .connect__mail:hover &,
        .connect__mail:focus & {
            fill: #2196F3;
        }

        &:hover,
        &:focus {
            fill: #2196F3;
        }
    }
}







