.header {
    background-color: var(--main-title-color);
    border-bottom: 1px solid #ECECEC;
    padding-top: 16px;
    padding-bottom: 16px;
    @media screen and (min-width:786px) {
        padding-top: 26px;
        padding-bottom: 26px;
    }
    @media screen and (min-width:1200px) {
        padding-top: 24px;
        padding-bottom: 24px;
    }
    &__flex {
        display: flex;
        align-items: center;
        height: 16px;
        @media screen and (min-width:768px) {
            justify-content: space-between;
            height: 26px;
        }
        @media screen and (min-width:1200px) {
            justify-content: start;
        height: 28px;  
        }
        
    }
    &__connect {
        // margin-left: 314px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        @media screen and (min-width:1200px) {
            flex-direction: row;   
            margin-left: 348px;
        }
    }
    &__navigation {
        @media screen and (min-width:1200px) {
            margin-left: 95px;
        }
        
    }
}

.navigation {
    &__list {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
        gap: 51px;
    }
    &__link {
        position: relative;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.42;
        letter-spacing: 0.02em;
        color: #212121;
        transition: color 250ms linear;

        &.current::after {
            content: '';
            width: 105%;
            height: 4px;
            background-color: #2196F3;
            border-radius: 2px;
            display: block;
            position: absolute;
            left: 0;
            bottom: -33px;
            @media screen and (min-width:1200px) {
            bottom: -31px; 
            }
        }

        &:hover,
        &:focus {
            color: var(--hover-focus-color);
        }
    }
    
}

.connect {
    display: flex;
    column-gap: 30px;
    &__mail {
    
            font-weight: 500;
            font-size: 14px;
            line-height: 1.42;
            letter-spacing: 0.02em;
            color: #757575;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: color 250ms linear;
    
            &:focus,
            &:hover {
                color: var(--hover-focus-color);
            }
        }
    &__tel {

        font-weight: 500;
        font-size: 14px;
        line-height: 1.42;
        letter-spacing: 0.02em;
        color: #757575;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: color 250ms linear;

        &:focus,
        &:hover {
            color: var(--hover-focus-color);
        }
    }
    &__icon {
        fill: #757575;
        margin-right: 10px;
        transition: color 250ms linear, fill 250ms linear;

        .connect__tel:hover &,
        .connect__tel:focus &,
        .connect__mail:hover &,
        .connect__mail:focus & {
            fill: #2196F3;
        }

        &:hover,
        &:focus {
            fill: #2196F3;
        }
    }
}

.menu-open-btn {
    margin-left: auto;
    border: none;
    background-color: var(--main-title-color);
    @media screen and (min-width:769px) {
        display: none;
    }
}

.mob__menu {
    padding-top: 48px;
    padding-bottom: 48px;
    position: fixed;
    background-color: #fff;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    >.container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    @media screen and (min-width:769px) {
        display: none;
    }
}

.menu-close-btn {
    position: absolute;
    top: 1px;
    right: 5px;
    display: block;
    margin-left: auto;
    border: none;
    background-color: var(--main-title-color);
}

.mob__menu-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.mob__menu-link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;

    color: #212121;
    &:focus {
        color: var(--hover-focus-color);
    }
}

.mob__connect {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.mob__connect-tel {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;

    color: #2196F3;
}

.mob__connect-mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;

    color: #757575;

    &:focus {
            color: var(--hover-focus-color);
        }
}

.mob__soc-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.mob__soc-item {
    &::after {
        content: '';
        width: 22px;
        height: 0;
        margin-left: 10px;
        border: 1px solid rgba(33, 33, 33, 0.2);
    }
    &:last-child::after {
        display: none;
    }
}

.mob__soc-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: #2196F3;
}

@media screen and (max-width:768px) {

    .navigation__list,
    .header__connect {
        display: none;
    }


}







