.work {
    display: none;
    @media screen and (min-width:1200px) {
        display: block;
        padding-bottom: 94px;
    }
    &__title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--title-color);
        margin-bottom: 50px;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
    &__item {
        position: relative;
    }
   
    &__background {
        width: 370px;
        height: 70px;
        background: rgba(47, 48, 58, 0.8);
        position: absolute;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 0;
    }
}